body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: rgb(43,43,52);
}
h2{
  margin-bottom: 10px;
  color: #000;
  font-size: 32px;
}
.jumbotron{
  background-color: rgb(245,245,245);
  width: 1250px;
  margin-left: 10px;
  margin-right: auto;
  margin-top: 20px;
  height: 100%;
}
nav{
  background-color: rgb(21,21,30);
}
tbody{
  margin-top: 10px;
}
.img-container {
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin-bottom: 10px;
}
.img-container img {
    height: 100%;
}
