{% extends 'base.html' %}
{% block styles %}
    <style>

        .circle {
            display: block;
            position: absolute;
            border-radius: 0 0 100% 0;
            -webkit-transition: 2s ease;
        }

        .small-circle {
            background: black;
            height: 12vw;
            width: 12vw;
            animation: 1s ease-out 0s 1 makeSmallCircle;
            margin-top: -25vh;

        }


        .middle-circle {
            background: rgb(16, 16, 19);
            height: 24vw;
            width: 24vw;
            animation: 1s ease-out 0s 1 makeMiddleCircle;
            margin-top: -25vh;
        }

        .big-circle {
            background: rgb(27, 27, 33);
            height: 36vw;
            width: 36vw;
            animation: 1s ease-out 0s 1 makeBigCircle;
            margin-top: -25vh;
            z-index: -1;
        }

        .big-circle:hover {
            height: 38vw;
            width: 38vw;
            transition-duration: 1s;
        }

        .middle-circle:hover {
            height: 26vw;
            width: 26vw;
            transition-duration: 1s;
        }

        .small-circle:hover {
            height: 14vw;
            width: 14vw;
            transition-duration: 1s;
        }

        .auth {
            display: block;
            position: absolute;
            margin-left: 1vh;
            margin-top: -24vh;
        }

        @keyframes makeSmallCircle {
            0% {
                height: 0;
                width: 0;
            }
            100% {
                height: 12vw;
                width: 12vw;
            }
        }

        @keyframes makeMiddleCircle {
            0% {
                height: 0;
                width: 0;
            }
            100% {
                height: 24vw;
                width: 24vw;
            }
        }

        @keyframes makeBigCircle {
            0% {
                height: 0;
                width: 0;
            }
            100% {
                height: 36vw;
                width: 36vw;
            }
        }

    </style>
{% endblock %}
{% block head %}
    <title>Вход</title>
{% endblock %}
{% block main %}
    <figure class="circle big-circle"></figure>
    <figure class="circle middle-circle"></figure>
    <figure class="circle small-circle"></figure>

    <a href="{% url 'registration' %}" class="btn btn-outline-light border-0 auth">Регистрация</a>
    <div class="container d-flex justify-content-center flex-column pb-3"
         style="max-width: 30%; min-width: 250px !important; margin-top: 25vh; margin-bottom: 25vh;
                background-color: rgb(27, 27, 33); border-radius: 25px">
        {% csrf_token %}
        <form class="white-text" id="login-form" role="form" method="post">
            <h2 class="mt-2" style="text-align: center">Вход</h2>
            {% csrf_token %}
            <p>
                <input type="text" name="username" placeholder="Логин" style="width: 100%">
            </p>
            <p>
                <input type="password" name="password" placeholder="Пароль" style="width: 100%">
            </p>
            {% if error %}{{ error }}{% endif %}
        </form>
        <button type="submit" form="login-form" class="white-text btn btn-outline-light">Готово</button>
        <a title="Google" class="mr-auto ml-auto mt-2 white-text"
           href="/accounts/google/login/?process=login">Войти через аккаунт Google</a>
    </div>
{% endblock %}