<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Space</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js"
            integrity="sha384-qlmct0AOBiA2VPZkMY3+2WqkHtIQ9lSdAsAn5RUJD/3vA5MKDgSGcdmIv4ycVxyn"
            crossorigin="anonymous"></script>
    <style>
        body {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: rgb(43, 43, 52);
        }

        h2 {
            margin-bottom: 10px;
            color: #000;
            font-size: 42px;
        }

        p {
            color: rgb(43, 43, 52);
            font-size: 21px;
        }

        nav {
            background-color: rgb(21, 21, 30);
        }

        .card-horizontal {
            display: flex;
            flex: 1 1 auto;
        }

        img {
            max-width: 100%;
            max-height: 100%;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'main' %}">Стартовая страница</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{% url 'events' %}">Список событий </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{% url 'friends-events' %}">События друзей </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">Пользователь</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="{% url 'profile' pk=user.profile.pk %}">Профиль</a>
                    <a class="dropdown-item" href="{% url 'settings' %}">Настройки профиля</a>
                    <a class="dropdown-item" href="{% url 'logout' %}">Выход</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div class="container mt-5 mr-auto ml-auto">
    <div class="jumbotron">
        <div class="container">
            <h2>Настройки</h2>
            <form id="profile-form" method="POST" action="api/profiles/{{ user.profile.pk }}">
                {% csrf_token %}
                <label> Имя:
                    <input type="text" name="first_name" id="first_name" value="{{ user.first_name }}">
                </label>
                <br>
                <label> Фамилия:
                    <input type="text" name="last_name" id="last_name" value="{{ user.last_name }}">
                </label>
                <br>
                <label id="gender">Гендер:
                    <label> Мужской
                        <input name="gender" value="M" type="radio"
                                {% if user.profile.gender == 'M' %} checked {% endif %}>
                    </label>
                    <label> Женский
                        <input name="gender" value="W" type="radio"
                                {% if user.profile.gender == 'W' %} checked {% endif %}>
                    </label>
                    <label> Другое
                        <input name="gender" value="O" type="radio"
                                {% if user.profile.gender == 'O' %} checked {% endif %}>
                    </label>
                    <label> Не указан
                        <input name="gender" value="N" type="radio"
                                {% if user.profile.gender == 'N' %} checked {% endif %}>
                    </label>
                </label>
                <br>
                <label> О пользователе:
                    <input type="text" name="about" id="about" value="{{ user.profile.about }}">
                </label>
                <br>
                <label> Сыылка на вашу страницу вконтакте:
                    <input type="text" name="vk_link" id="vk_link" value="{{ user.profile.vk_link }}">
                </label>
            </form>
            <button class="btn btn-dark" type="submit" onclick="sendForm()">Сохранить</button>
            <p id="errors"></p>
        </div>
    </div>
</div>
<script>
    function sendForm() {
        let url = '{% url "retrieve-update-profile" profile_pk=user.profile.pk %}';
        $.ajax({
            type: "POST",
            url: url,
            data: {
                first_name: $('#first_name').val(),
                last_name: $('#last_name').val(),
                gender: $('#gender input:checked').val(),
                about: $('#about').val(),
                vk_link: $('#vk_link').val(),
            },
            beforeSend: function (xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
            },
            success: function (data) {
                console.log(data);
                console.log('success');
                window.location.href = '{% url 'profile' pk=user.profile.pk %}'
            },
            error: function (data) {
                console.log('error');
                let error = ""
                let response = JSON.parse(data.responseText)
                for (key of Object.keys(response)) {
                    error = key.toString() + ': ' + response[key].toString() + '\n';
                }
                $('#errors').html(error);
            }
        });
    }
</script>
</body>
</html>